{% extends "app_base.html" %}

{% block title%} Brmail - Prejeto {% endblock title %}


{% block naslov %} Brmail Prejeto - {{ uporabnik.nickname() }} {% endblock naslov %}

{% block vsebina %}
<div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Novo sporočilo
        </div>
        <div class="panel-body">
            Klikni in ustvari novo sporočilo 
            <a href="/projects/brmail/novo" class="btn btn-primary">Novo sporočilo</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="sredinsko">Prejeta sporočila</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/projects/brmail/prejeto" class="btn btn-primary">Prejeto</a></li>
            <li><a href="/projects/brmail/poslano" class="btn btn-primary">Poslano</a></li>
            <li><a href="/projects/brmail/imenik" class="btn btn-primary">Imenik</a></li>
            <li><a href="http://opomik-opravila.appspot.com" class="btn btn-primary">Task Manager</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        <table class="table">
            <tr>
                <th>Od</th>
                <th>Zadeva</th>
                <th>Datum</th>
            </tr>
            {% for message in seznam_prejetih %}
            <tr>
                <td>{{ message.from_nickname }}</td>
                <td><a href="/projects/brmail/sporocilo-podrobno/{{message.key.id()}}">{{ message.subject }}</a></td>
                <td>{{ message.datum }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock vsebina %}